<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
    xsi:schemaLocation="http://www.springframework.org/schema/beans        
    http://www.springframework.org/schema/beans/spring-beans-4.2.xsd        
    http://code.alibabatech.com/schema/dubbo        
    http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
	<!-- client config-->
	<dubbo:application name="consumer-of-openAPI"/>

	<dubbo:registry id="serviceClientRegistry"
					protocol="zookeeper"
					address="localhost:2181"
					group="fish"
					check="true"
					subscribe="true" file="registry-cache.properties">
	</dubbo:registry>


	<dubbo:consumer id="serviceConsumer"
					registry="serviceClientRegistry"
					init="false"
					check="true"
					timeout="2000"
					retries="0"/>
</beans>