<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    <description>dubbo server端配置</description>

    <!-- Application name -->
    <dubbo:application id="serviceApplication"
                       name="serviceApplication"
                       owner="fish"
                       organization="fish"
                       logger="slf4j"
                       compiler="javassist"/>

    <!--协议-->
    <dubbo:protocol id="serviceProtocol"
                    name="dubbo"
                    port="-1"
                    dispatcher="all"
                    threadpool="fixed"
                    threads="100">
    </dubbo:protocol>

    <!--注册中心, 在本地开发环境请采用直连方式，可把 register, subscribe 都配置为false-->
    <dubbo:registry id="serviceRegistry"
                    protocol="zookeeper"
                    address="localhost:2181"
                    client="zkclient"
                    group="fish"
                    session="60000"
                    register="true"
                    subscribe="true"
                    check="true" file="registry-cache.properties">
    </dubbo:registry>

    <dubbo:registry id="serviceRegistry2"
                    protocol="zookeeper"
                    address="127.0.0.1:2181"
                    client="zkclient"
                    group="test"
                    session="6000"
                    register="true"
                    subscribe="false"
                    check="true">
    </dubbo:registry>

    <!--服务-->
    <dubbo:provider id="serviceProvider"
                    application="serviceApplication"
                    registry="serviceRegistry"
                    protocol="serviceProtocol"
                    cluster="failover"
                    loadbalance="random"
                    serialization="hessian2"
                    retries="2"
                    timeout="2000"
                    proxy="javassist"
                    delay="-1"
            />
</beans>