<?xml version="1.0" encoding="UTF-8"?>
<beans default-autowire="byName"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd
       ">
    <!--发布服务-->
    <description>dubbo service provider</description>
    <!-- spring aop事物管理与dubbo注解有兼容问题 -->
    <dubbo:annotation package="com.fish.service"/>

    <bean id="callbackServiceLocal" class="com.fish.service.CallbackServiceImpl" />
    <dubbo:service interface="com.fish.service.ICallbackService" ref="callbackServiceLocal" connections="1" callbacks="1000">
        <dubbo:method name="addListener">
            <dubbo:argument index="1" callback="true" />
            <!--也可以通过指定类型的方式-->
            <!--<dubbo:argument type="com.demo.CallbackListener" callback="true" />-->
        </dubbo:method>
    </dubbo:service>

</beans>